#wrapper {
    width: 25vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    background-color: whitesmoke;
    border: 4px solid pink;
}

#cat {
    position: relative;
    background-color: whitesmoke;
    border: 1px solid pink;
    border-radius: 50%;
    width: 65px;
    height:65px;
    min-width: 65px;
    min-height: 65px;
    // margin-left: 35px;
    // margin-top: 15px;
    // margin-bottom: 15px;
    margin: 20px;
    overflow: visible;
   
    }
ul {
    height: 400px;
    width: 300px;
    overflow-y: scroll;
    border-radius: 8px;
    background-color: whitesmoke;
    padding: 5px;
    list-style-type: none
}    

li {
    list-style-type: none;
    
}

h2 {
    position: relative;
    left: 120px;
    top: -62px;
}
    
.fill {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 0;
    overflow: visible;
  
  }
  .cat-picture {
    position: relative;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-height: 100%;
  }
  
  i{
    position: relative;
    top: -103px;
    left: 184px;
  }

  //SMARTPHONE---------

@media (orientation: portrait) and (max-device-width :  415px) {
    #wrapper {
      width: 90vw !important;
    }
  
  
  }
  
  
  //SMALL SMARTPHONE---------
  
  @media (orientation: portrait) and (max-device-width :  320px) {
  
    #wrapper {
        width: 90vw !important;
      }
    
    
    }
    
  