/* You can add global styles to this file, and also import other style files */

@import "./assets/style_files/normalize.css";

body {

    background-color: whitesmoke; 
    font-family: 'Quicksand';
    color: grey;
    user-select: none;
}

